{% extends "base.html" %}
{% block content %}

<div id="maintext">
	<table style="width: 100%" id="introTable"><tr>
	<td style="width: 265px; text-align: right"><img src="/static/Intro_getting around.png">
	</td>
	<td style="padding-left: 20px; text-align: left">
		I worry about falling when I go out******<br><br>
		I need help getting to appointments<br><br>
		I have trouble getting around due to pain<br><br>
	</td>
	</tr>
	</table>
</div>
<div id="continueButton">
<a href="/intro4"><img src="/static/continue_red.png"></a>
</div>

	

<div class="clear"></div>


{% endblock %}


