{% extends "base.html" %}
{% block content %}

<div id="maintext">
	<table style="width: 100%" id="introTable"><tr>
	<td style="width: 265px; text-align: right"><img src="/static/Intro_money.png">
	</td>
	<td style="padding-left: 20px; text-align: left">
	I cannot afford all these medications<br><br>
	Doctors tell me to exercise but I can not afford to<br><br>
	I worry about how much money my family will have<br><br>
	</td>
	</tr>
	</table>
</div>
<div id="continueButton">
<a href="/intro5"><img src="/static/continue_red.png"></a>
</div>

	

<div class="clear"></div>


{% endblock %}
