{% extends "base.html" %}
{% block content %}

<div id="maintext">
	<table style="width: 100%" id="introTable"><tr>
	<td style="width: 265px; text-align: right"><img src="/static/Intro_food.png">
	</td>
	<td style="padding-left: 20px; text-align: left">
	I often wonder which foods are best for me<br><br>
	I am not sure where to find healthy foods<br><br>
	It is hard for me to cook food<br><br>
	</td>
	</tr>
	</table>
</div>
<div id="continueButton">
<a href="/intro8"><img src="/static/continue_red.png"></a>
</div>

	

<div class="clear"></div>


{% endblock %}
